 <app-header></app-header>





 <section>
            <div class="second-page-container">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="block-breadcrumb">
                                <ul class="breadcrumb">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Shirts</a></li>
                                    <li class="active">Lolo</li>
                                </ul>
                            </div>

                            <div class="header-for-light">
                                <h1 class="wow fadeInRight animated" data-wow-duration="1s">Shirt <span>"LOLO"</span> </h1>

                            </div>

                            <div class="block-product-detail">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="product-image">
                                            <img id="product-zoom"  src='img/preview/product/small/product2.jpg' data-zoom-image="img/preview/product/large/product2.jpg" alt="">
                                            <div id="gal1">

                                                <a href="img/preview/product/large/product1.jpg" data-lightbox="product" data-title="Product name" data-image="img/preview/product/small/product1.jpg" data-zoom-image="img/preview/product/large/product1.jpg">
                                                    <img id="img_01" src="img/preview/product/thumb/product1.jpg" alt="">
                                                </a>

                                                <a href="img/preview/product/large/product2.jpg" data-lightbox="product" data-title="Product name" data-image="img/preview/product/small/product2.jpg" data-zoom-image="img/preview/product/large/product2.jpg">
                                                    <img id="img_01" src="img/preview/product/thumb/product2.jpg"  alt="">
                                                </a>

                                                <a href="img/preview/product/large/product3.jpg" data-lightbox="product" data-title="Product name"  data-image="img/preview/product/small/product3.jpg" data-zoom-image="img/preview/product/large/product3.jpg">
                                                    <img id="img_01" src="img/preview/product/thumb/product3.jpg" />
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">


                                        <div class="product-detail-section">
												<div class="clearfix">
                                                    <label class="pull-left">Price:</label>
                                                    <p class="product-price">$450.99</p>
                                                </div>
												<div class="clearfix">
                                                    <label class="pull-left">Name of the Product:</label>
                                                    <p class="product-price">$450.99</p>
                                                </div>
												<div class="clearfix">
                                                    <label class="pull-left">Location:</label>
                                                    <p class="product-price">$450.99</p>
                                                </div>
												<div class="clearfix">
												<label class="pull-left">Posted date:</label>
                                                    <p class="product-price">$450.99</p>
                                                </div>                                           
                                            
											<hr></hr>
											<div class="product-rating">
											 <div class="clearfix"> 
                                                    <label class="pull-left">Contact the seller:</label> Seller rating 
                                                </div>
											  <div class="clearfix"> 
                                                    <label class="pull-left">
                                                    <img id="img_01" src="img/preview/product/thumb/product3.jpg" />
                                                </label> <a href="#" class="btn btn-default"><i class="fa fa-contact"></i>  Contact seller</a> 
                                                </div>

                                                 
                                            </div>

                                            <div class="product-information">
                                                
                                                
                                                                                 
                                                
                                                <div class="shopping-cart-buttons">
												
                                                    <a href="#" class="shoping"><i class="fa fa-heart-o"></i>  Add to list</a>
                                                                                                     
                                                </div>
												



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                                <!-- Nav tabs -->
                                <ul class="nav nav-pills  nav-justified">
                                    <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                                    <li><a href="#additional" data-toggle="tab" class="disabled">Company</a></li>
                                    <li><a href="#review" data-toggle="tab">Condition</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="description">
                                        <br>
                                        <h3>Product Details</h3>
                                        <hr>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                        <p>
                                            Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris. Integer in mauris eu nibh euismod gravida. Duis ac tellus et risus vulputate vehicula. Donec lobortis risus a elit. Etiam tempor. Ut ullamcorper, ligula eu tempor congue, eros est euismod turpis, id tincidunt sapien risus a quam. Maecenas fermentum consequat mi. Donec fermentum. Pellentesque malesuada nulla a mi. Duis sapien sem, aliquet nec, commodo eget, consequat quis, neque. Aliquam faucibus, elit ut dictum aliquet, felis nisl adipiscing sapien, sed malesuada diam lacus eget erat. Cras mollis scelerisque nunc. Nullam arcu. Aliquam consequat. Curabitur augue lorem, dapibus quis, laoreet et, pretium ac, nisi. Aenean magna nisl, mollis quis, molestie eu, feugiat in, orci. In hac habitasse platea dictumst.
                                        </p>
                                    </div>
                                    <div class="tab-pane" id="additional">       <!-- Additional means company data i did not change the id because it is used in many other locations and css -->
                                        <br>
                                        <div class="row">
                                            
                                    </div>
									</div>
                                    <div class="tab-pane" id="review">            <!-- review means condtion of product I also did not change the id because it is used in many other locations and css -->
                                        <br>
                                        <div class="row">
                                           
                                        </div>
                                       

                                    </div>

                                </div>



                            </div>



                        </div>
                        
                            
                               
                            </div>

                        </div>

                    </div>
                </div>  
            

        </section>
<div class="clearfix"></div>
<hr></hr>



 <app-footer></app-footer>
 