<app-header></app-header>
<section>
  <div class="second-page-container">
    <div class="block">
      <div class="container">
        <div class="header-for-light">
          <h1 class="wow fadeInRight animated" data-wow-duration="1s">My <span>Profile</span></h1>
        </div>
        <div class="col-lg-8 col-md-7">
          <div class="card">
            <div class="text-center">
                <div class="author">
                  <img class="avatar border-white" src="assets/img/faces/face-2.jpg" alt="..."/>
                </div>
            </div>
            <hr>
            <div class="content">
              <form>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control border-input" disabled placeholder="Email" value="test@email.com">
                    </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                        <label>Role</label>
                        <input type="text" class="form-control border-input" disabled placeholder="Role" value="Seller">
                      </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>First Name</label>
                      <input type="text" class="form-control border-input" placeholder="Company" value="Chet">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Last Name</label>
                      <input type="text" class="form-control border-input" placeholder="Last Name" value="Faker">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Address</label>
                      <input type="text" class="form-control border-input" placeholder="Home Address" value="Leipziger Straße, 123, Fulda, Germany">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Mobile Number</label>
                      <input type="text" class="form-control border-input" placeholder="Mobile Number" value="+49152126157261">
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit"  value="Update Profile" class="btn-default-1">
                    </div>
                  </div>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>