<app-header></app-header>


<section>
	<div class="second-page-container">
		<div class="block">
			<div class="container">
				<div class="header-for-light">
					<h1 class="wow fadeInRight animated" data-wow-duration="1s">Login in your <span>Account</span></h1>
				</div>
				<h3>{{message}}</h3>
				<div class="row">
					<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="block-form box-border wow fadeInLeft animated" data-wow-duration="1s">
							<h3><i class="fa fa-unlock"></i>Login</h3>
							<p>Please login using your existing account</p>
							<form [formGroup]="form">
								<div class="row">
									<div class="col-md-6">
										<input type="text" class="form-control" id="username" formControlName="username" placeholder="username">
                    <div *ngIf="username.touched && username.invalid">
                      <div *ngIf="username.errors?.required">Username is required</div>
                    </div>
									</div>
									<div class="col-md-6">
                    <input type="password" class="form-control" id="password" formControlName="password" placeholder="password">
                    <div *ngIf="password.touched && password.invalid">
                      <div *ngIf="password.errors?.required">Password is required</div>
                    </div>
									</div>
									<div class="col-md-12">
										<hr>
										<button type="submit" [disabled]="form.invalid" (click)="login()" class="btn-default-1">Login</button>
										<button type="button" [routerLink]="['/forgot-password']" class="btn-default-1">Reset Password</button>
									</div>
								</div>
							</form>
						</div>
					</article>
					<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="block-form box-border wow fadeInRight animated" data-wow-duration="1s">
							<h3><i class="fa fa-pencil"></i>Create new account</h3>
							<p>Registration allows you to avoid filling in billing and shipping forms every time you
								checkout on this website.</p>
							<hr>
							<a [routerLink]="['/register']" class="btn-default-1">Register</a>
						</div>

					</article>
				</div>
			</div>
		</div>
	</div>
</section>

<app-footer></app-footer>