<app-header></app-header>
<section>
    <div class="second-page-container">
        <div class="container">

            <div class="row">
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title alert-success" id="exampleModalLongTitle">Contact Seller</h2>

                            </div>
                            <div class="modal-body">
                                <div class="clearfix col col-md-12">
                                    <label class="pull-left col-md-4">Seller Name:</label>
                                    &nbsp;<label>Zohaib</label>
                                </div>
                                <div class="clearfix col col-md-12">
                                    <label class="pull-left col col-md-4">Seller rating:</label>

                                    <div class="product-detail-section">
                                        <div class="product-rating">
                                            <div class="stars">
                                                <span class="star"></span><span class="star active"></span><span class="star active"></span><span
                                                    class="star active"></span><span class="star active"></span>
                                            </div>
                                            <a class="review"></a>
                                        </div>
                                    </div>

                                </div>
                                <div class="clearfix col col-md-12">
                                    <label class="pull-left col-md-4">Email:</label>
                                    &nbsp;<label>Zohaib@gmail.com</label>
                                </div>
                                <div class="clearfix col-md-12">
                                    <label class="pull-left col-md-4">Phone no:</label>
                                    &nbsp;<label>123456789</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-9">
                   
                    <br><br>
                    <div class="header-for-light">
                        <h1 class="wow fadeInRight animated" data-wow-duration="1s    ">{{ article?.name }}</h1>

                    </div>

                    <div class="block-product-detail">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="product-image">
                                    <img id="product-zoom" [src]="article?.image_path" data-zoom-image="article?.image_path"
                                        alt="">
                                    <!-- <div id="gal1">
                                      <a href="../../assets/img/preview/product/large/product1.jpg" data-lightbox="product" data-title="Product name" data-image="../../assets/img/preview/product/small/product1.jpg" data-zoom-image="../../assets/img/preview/product/large/product1.jpg">
                                          <img id="img_01" src="../../assets/img/preview/product/thumb/product1.jpg" alt="">
                                      </a>
                                      <a href="../../assets/img/preview/product/large/product2.jpg" data-lightbox="product" data-title="Product name" data-image="../../assets/img/preview/product/small/product2.jpg" data-zoom-image="../../assets/img/preview/product/large/product2.jpg">
                                          <img id="img_01" src="../../assets/img/preview/product/thumb/product2.jpg"  alt="">
                                      </a>
                                      <a href="../../assets/img/preview/product/large/product3.jpg" data-lightbox="product" data-title="Product name"  data-image="../../assets/img/preview/product/small/product3.jpg" data-zoom-image="../../assets/img/preview/product/large/product3.jpg">
                                          <img id="img_01" src="../../assets/img/preview/product/thumb/product3.jpg" />
                                      </a>
                                  </div> -->
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="product-detail-section">
                                    <h3>{{article?.name}}</h3>
                                    <div class="product-rating">
                                        <div class="stars">
                                            <span class="star"></span><span class="star active"></span><span class="star active"></span><span
                                                class="star active"></span><span class="star active"></span>
                                        </div>
                                        <a class="review"></a>
                                    </div>

                                    <div class="product-information">
                                        <div class="clearfix">
                                            <label class="pull-left">Category:</label> <a>{{article?.category_id}}</a><br>
                                        </div>
                                        <div class="clearfix">
                                            <label class="pull-left">Quality:</label> {{article?.condition}}
                                        </div>
                                        <div class="clearfix">
                                            <label class="pull-left">Seller Name:</label> {{ article?.seller_id }}
                                        </div>
                                        
                                        <div class="clearfix">
                                            <label class="pull-left">Description:</label>
                                            <p class="description">{{article?.description}}</p>
                                        </div>
                                        <div class="clearfix">
                                            <label class="pull-left">Price:</label>
                                            <p class="product-price">
                                                
                                                € {{article?.price}}</p>
                                        </div>
                                      
                                        <div class="shopping-cart-buttons">

                                            <a *ngIf="!existInWishlist" (click)="addToWishlist()" class="shoping" style="cursor:pointer;width:190px"><i
                                                    class="fa fa-shopping-cart"></i>
                                                Add to Wish List
                                            </a>
                                            <a *ngIf="existInWishlist" (click)="addToWishlist()" class="shoping" style="width:300px">
                                                Product Added in Wish List
                                            </a>
                                            &nbsp;
                                            <a (click)="contactSeller(article?.seller_id)" class="shoping" style="cursor:pointer;width:190px"
                                                data-toggle="modal" data-target="#exampleModalCenter">
                                                Contact Seller
                                            </a>

                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                   

                </div>

            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>