<app-header></app-header>




    <section>
            <div class="second-page-container">
                <div class="block">
                    <div class="container">
                        <div class="header-for-light">
                            <h1 class="wow fadeInRight animated" data-wow-duration="1s">Create new <span>Account</span></h1>
                        </div>
                        <div class="row">
                            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="block-form box-border wow fadeInLeft animated" data-wow-duration="1s">
                                    <h3><i class="fa fa-user"></i>Personal Information</h3>
                                    <hr>
                                    <form class="form-horizontal" role="form" method="post" action="#">
                                        <div class="form-group">
                                            <label for="inputFirstName" class="col-sm-3 control-label">First Name:<span class="text-error">*</span></label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputFirstName">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputLastName" class="col-sm-3 control-label">Last Name:<span class="text-error">*</span></label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputLastName">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEMail" class="col-sm-3 control-label">E-Mail:<span class="text-error">*</span></label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" id="inputEMail">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPhone" class="col-sm-3 control-label">Phone:</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputPhone">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputFax" class="col-sm-3 control-label">Fax:</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputFax">
                                            </div>
                                        </div>
                                        <h3><i class="fa fa-truck"></i>Delivery Information</h3>
                                        <hr>
                                        <div class="form-group">
                                            <label for="inputCompany" class="col-sm-3 control-label">Company:</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputCompany">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputCompanyID" class="col-sm-3 control-label">CompanyID:</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputCompanyID">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAdress1" class="col-sm-3 control-label">Address /1: <span class="text-error">*</span></label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputAdress1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAdress2" class="col-sm-3 control-label">Address /2:</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputAdress2">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputCity" class="col-sm-3 control-label">City: <span class="text-error">*</span></label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputCity">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPostCode" class="col-sm-3 control-label">Post Code: <span class="text-error">*</span></label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputPostCode">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Contury: <span class="text-error">*</span></label>
                                            <div class="col-sm-9">
                                                <select name="inputContury" class="form-control">
                                                    <option value="#">-All Conturies-</option>
                                                    <option value="#">Contury1</option>
                                                    <option value="#">Contury2</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Region: <span class="text-error">*</span></label>
                                            <div class="col-sm-9">
                                                <select name="inputRegion" class="form-control">
                                                    <option value="#">-All Regions-</option>
                                                    <option value="#">Region1</option>
                                                    <option value="#">Region2</option>
                                                </select>
                                            </div>
                                        </div>
                                        <h3><i class="fa fa-lock"></i>Password</h3>
                                        <hr>
                                        <div class="form-group">
                                            <label for="inputPassword1" class="col-sm-3 control-label">Password: <span class="text-error">*</span></label>
                                            <div class="col-sm-9">
                                                <input type="password" class="form-control" id="inputPassword1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword2" class="col-sm-3 control-label">Re-Password: <span class="text-error">*</span></label>
                                            <div class="col-sm-9">
                                                <input type="password" class="form-control" id="inputPassword2">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="newsletter" class="col-sm-3 control-label">Newsletter: <span class="text-error">*</span></label>
                                            <div class="col-sm-9">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="newsletter" id="newsletter1" value="1" checked>
                                                        Subscribe
                                                    </label>

                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="newsletter" id="newsletter2" value="0">
                                                        Unsubscribe
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox">  I'v read and agreed on <a href="#">Condations</a>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn-default-1">Register</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </article>
                            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                                <div class="block-form box-border wow fadeInRight animated" data-wow-duration="1s">
                                    <h3><i class="fa fa-bookmark-o"></i>Checkout as Guest</h3>
                                    <hr>
                                    <p>Checkout as a guest instead!</p>

                                    <a href="#" class="btn-default-1">As Guest</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div> 
        </section>






        <section>
            <div class="block color-scheme-white-90">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <article class="payment-service">
                                <a href="#"></a>
                                <div class="row">
                                    <div class="col-md-4 text-center">
                                        <i class="fa fa-thumbs-up"></i>
                                    </div>
                                    <div class="col-md-8">
                                        <h3 class="color-active">Sell Your Items</h3>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4">
                            <article class="payment-service">
                                <a href="#"></a>
                                <div class="row">
                                    <div class="col-md-4 text-center">
                                        <i class="fa fa-truck"></i>
                                    </div>
                                    <div class="col-md-8">
                                        <h3 class="color-active">Contact Sellers Safely</h3>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4">
                            <article class="payment-service">
                                <a href="#"></a>
                                <div class="row">
                                    <div class="col-md-4 text-center">
                                        <i class="fa fa-fax"></i>
                                    </div>
                                    <div class="col-md-8">
                                        <h3 class="color-active">24/7 Support</h3>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>



                </div>
            </div>
        </section>



 <app-header></app-header>
 