<app-header></app-header>


<section>
  <div class="second-page-container">
    <div class="block">
      <div class="container">
        <div class="header-for-light">
          <h1 class="wow fadeInRight animated" data-wow-duration="1s">Create new <span>Account</span></h1>
        </div>
        <h3>{{message}}</h3>
        <div class="row">
          <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="block-form box-border wow fadeInLeft animated" data-wow-duration="1s">
              <h3><i class="fa fa-user"></i>Personal Information</h3>
              <hr>
              <form class="form-horizontal" [formGroup]="form">
                <div class="form-group">
                  <label for="role" class="col-sm-3 control-label">Type:</label>
                  <div class="col-sm-9">
                    <select name="role" id="role" placeholder="Select Role" formControlName="role" class="form-control">
                      <option value="seller">Seller</option>
                      <option value="buyer">Buyer</option>
                    </select>
                    <div *ngIf="role.touched && role.invalid">
                      <div *ngIf="role.errors?.required">User type is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name" class="col-sm-3 control-label">Full Name:<span class="text-error">*</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" formControlName="name">
                    <div *ngIf="name.touched && name.invalid">
                      <div *ngIf="name.errors?.required">Full name is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="username" class="col-sm-3 control-label">Username:<span class="text-error">*</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="username" formControlName="username">
                    <div *ngIf="username.touched && username.invalid">
                      <div *ngIf="username.errors?.required">Username is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="email" class="col-sm-3 control-label">E-Mail:<span class="text-error"></span></label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="email" formControlName="email">
                    <div *ngIf="email.touched && email.invalid">
                      <div *ngIf="email.errors?.email">Email is incorrect</div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="mobile_number" class="col-sm-3 control-label">Phone:</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="mobile_number" formControlName="mobile_number">
                  </div>
                </div>
                <h3><i class="fa fa-truck"></i>Delivery Information</h3>
                <hr>
                <div class="form-group">
                  <label for="address" class="col-sm-3 control-label">Address: <span class="text-error">*</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="address" formControlName="address">
                    <div *ngIf="address.touched && address.invalid">
                      <div *ngIf="address.errors?.required">Address is required</div>
                    </div>
                  </div>
                </div>
                <h3><i class="fa fa-lock"></i>Password</h3>
                <hr>
                <div class="form-group">
                  <label for="password" class="col-sm-3 control-label">Password: <span class="text-error">*</span></label>
                  <div class="col-sm-9">
                    <input type="password" class="form-control" id="password" formControlName="password">
                    <div *ngIf="password.touched && password.invalid">
                      <div *ngIf="password.errors?.required">Password is required</div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> I'v read and agreed on <a href="#">Condations</a>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" [disabled]="form.invalid" (click)="register()" class="btn-default-1">Register</button>
                  </div>
                </div>
              </form>

            </div>
          </article>
          <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="block-form box-border wow fadeInRight animated" data-wow-duration="1s">
              <h3><i class="fa fa-pencil"></i>Login</h3>
              <p>Login allows you to buy products</p>
              <hr>
              <a [routerLink]="['/login']" class="btn-default-1">Login</a>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>