<header id="header">
	<div class="header-bg">
		<div class="header-main" id="header-main-fixed">
			<div class="header-main-block1">
				<div class="container">
					<div id="container-fixed">
						<div class="row">
							<div class="col-md-3">
								<a style="cursor:pointer" [routerLink]="['']" class="header-logo"> <img src="../../assets/img/logo.png" alt=""></a>
							</div>
							<div class="col-md-5 col-md-offset-1">
								<div class="top-search-form pull-left">
									<form>
										<input type="text" [(ngModel)]="searchKeyword" (keyup.enter)="searchProducts()" name="searchKeyword" placeholder="Search a product..." class="form-control"
										 style="color: white">
										<button type="button" (click)="searchProducts()"><i class="fa fa-search"></i></button>
									</form>
								</div>
							</div>
							<div class="col-md-4">
								<div class="top-icons">
									<div class="top-icon" *ngIf="user && user?.role !== 'seller'">
										<a [routerLink]="['/wishlist']" title="Wishlist"><i class="fa fa-heart"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="header-main-block2">
				<nav class="navbar yamm  navbar-main" role="navigation">

					<div class="container">
						<div class="navbar-header">
							<button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span
								 class="icon-bar"></span><span class="icon-bar"></span></button>
							<a style="cursor:pointer" [routerLink]="['']" class="navbar-brand"><i class="fa fa-home"></i></a>
						</div>
						<div id="navbar-collapse-1" class="navbar-collapse collapse ">
							<ul class="nav navbar-nav">
								
								<li><a [routerLink]="['/product-listing']">All Products</a></li>
								<li *ngIf="user && user.role != 'buyer'"><a [routerLink]="['/product-create']">Sell Product</a></li>
								<li *ngIf="user && user.role != 'buyer'"><a [routerLink]="['/sales']">Sales</a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li *ngIf="user && user.role == 'admin'"><a [routerLink]="['/admin-panel']">Admin Panel</a></li>
								<li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Account <i class="fa fa-caret-right fa-rotate-45"></i></a>
									<ul class="dropdown-menu list-unstyled fadeInUp animated">
										<li *ngIf="!user" style="cursor: pointer">
											<a [routerLink]="['/login']"> Login </a>
										</li>
										<li *ngIf="!user"  style="cursor: pointer">
											<a [routerLink]="['/register']"> Register</a>
										</li>
										<li *ngIf="user"  style="cursor: pointer">
											<a (click)="profile()"> Profile</a>
										</li>
										<li *ngIf="user">
											<a style="cursor: pointer" (click)="logout()"> Logout</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>

		<!-- /header-main-menu -->
	</div>
</header>
<!-- End header -->