
        <!-- Header-->
        <header id="header">
            <div class="header-top-row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="top-welcome hidden-xs hidden-sm">
                                <p>Welcome to Buy and Sell Fulda &nbsp;&nbsp;<i class="fa fa-phone"></i>GDSD Project&nbsp; <i class="fa fa-envelope"></i> support@gmail.com</p> 
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <!-- header - language -->
                                <div id="lang" class="pull-right">
                                    <a href="#" class="lang-title"><img src="img/f-gb.png" alt="English" title="English"> English <i class="fa fa-angle-down"></i> </a>
                                    <ul class="list-unstyled lang-item">
                                        <li><a href=""><img src="img/f-fr.png" alt="Deutsch" title="Deutsch"> Deutsch</a></li>
                                    </ul>
                                </div>
                                <!-- /header - language -->

                                <!-- header - currency -->
                                <div id="currency" class="pull-right">
                                    <a href="" class="currency-title">€ EURO<i class="fa fa-angle-down"></i> </a>
                                   
                                </div>
                                <!-- /header - currency -->

                                <!-- header-account menu -->
                                <div id="account-menu" class="pull-right">
                                    <a href="" class="account-menu-title"><i class="fa fa-user"></i>&nbsp; Account <i class="fa fa-angle-down"></i> </a>
                                    <ul class="list-unstyled account-menu-item">
                                        <li><a href=""><i class="fa fa-heart"></i>&nbsp; Wishlist</a></li>
                                        <li><a href=""><i class="fa fa-check"></i>&nbsp; Checkout</a></li>
                                        <li><a href=""><i class="fa fa-shopping-cart"></i>&nbsp; Cart</a></li>
                                    </ul>
                                </div>
                                <!-- /header-account menu -->

                                <!-- header - currency -->
                                <div class="socials-block pull-right">
                                    <ul class="list-unstyled list-inline">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    </ul>
                                </div>
                                <!-- /header - currency -->
                            </div>

                        </div>
                    </div>




                </div>
            </div>
            <!-- /header-top-row -->
            <div class="header-bg">
                <div class="header-main" id="header-main-fixed">
                    <div class="header-main-block1">
                        <div class="container">
                            <div id="container-fixed">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="index.html" class="header-logo"> <img src="img/logo.jpg" alt=""></a>        
                                    </div>
                                    <div class="col-md-5">
                                        <div class="top-search-form pull-left">
                                            <form action="#" method="post">
                                                <input type="text" placeholder="Search ..." class="form-control">
                                                <button type="submit"><i class="fa fa-search"></i></button>
                                            </form>  
                                        </div>        
                                    </div>
                                    <div class="col-md-4">
                                        <div class="header-mini-cart  pull-right">
                                            <a href="#"  data-toggle="dropdown">
                                              <b>  Sell Products </b> 
                                            </a>
                                         </div><!-- /header-mini-cart -->
                                        <div class="top-icons">
                                            <div class="top-icon"><a href="" title="Wishlist"><i class="fa fa-heart"></i></a></div>
                                            <div class="top-icon"><a href="" title="Notification"><i class="fa fa-bell"></i></a><span>12</span></div>
                                            <div class="top-icon"><a href="/login" title="Login"><i class="fa fa-lock"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="header-main-block2">
                        <nav class="navbar yamm  navbar-main" role="navigation">

                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                                    <a href="index.html" class="navbar-brand"><i class="fa fa-home"></i></a>
                                </div>
                                <div id="navbar-collapse-1" class="navbar-collapse collapse ">
                                    <ul class="nav navbar-nav">
                                        <!-- Classic list -->
                                        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Home <i class="fa fa-caret-right fa-rotate-45"></i></a>
                                           
                                        </li>
                                        

                                        <!-- With content -->
                                        <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Categories <i class="fa fa-caret-right fa-rotate-45"></i></a>
                                            <ul class="dropdown-menu list-unstyled  fadeInUp animated">
                                                <li>
                                                    <div class="yamm-content">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="header-menu">
                                                                    <h4>Home Appliances</h4>
                                                                </div> 
                                                                <ul class="list-unstyled">
                                                                    <li><a href="#">Kitchen</a></li>
                                                                    <li><a href="#">Furniture</a></li>
                                                                  
                                                                </ul>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="header-menu">
                                                                    <h4>Vehichle</h4>
                                                                </div>
                                                                <ul class="list-unstyled">
                                                                    <li><a href="#">Jeans</a></li>
                                                                    <li><a href="#">Shirts</a></li>
                                                                </ul>
                                                            </div>
															<div class="col-md-3">
                                                                <div class="header-menu">
                                                                    <h4>Mobile</h4>
                                                                </div>
                                                                <ul class="list-unstyled">
                                                                    <li><a href="#">Apple</a></li>
                                                                    <li><a href="#">Samsung</a></li>
                                                                </ul>
                                                            </div>
															<div class="col-md-3">
                                                                <div class="header-menu">
                                                                    <h4>Electronics</h4>
                                                                </div>
                                                                <ul class="list-unstyled">
                                                                    <li><a href="#">Oven</a></li>
                                                                    <li><a href="#">Washing Machine</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <article class="banner">
                                                                    <a href="#">
                                                                        <img src="http://placehold.it/900x677" class="img-responsive" alt="">
                                                                    </a> 
                                                                </article>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </li>
                                            </ul>
                                        </li>

                                   
                                        <li><a href="Blog.html">Blog</a></li>
                                    </ul>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>

                <!-- /header-main-menu -->
            </div>
        </header>
        <!-- End header -->
