<app-header></app-header>

<section>
  <div class="second-page-container">
    <div class="block">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
          <h3 *ngIf="posted" class="alert alert-success">Your password changed Successfully!  </h3>
        </div>
        <div class="col-md-6">
          <br>
            <a *ngIf="posted" class="btn alert-success" [routerLink]="['/login']">Go to login  </a>
          </div>
      </div>
         
        <div class="row">
          <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="block-form box-border wow fadeInLeft animated" data-wow-duration="1s">
                     <h3 class="wow fadeInRight animated" data-wow-duration="1s">Forgot <span>Password</span></h3>
              

              <form [formGroup]="form">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <input type="text" formControlName="email" class="form-control" placeholder="Email">
                    </div>
                    <div *ngIf="email.touched && email.invalid">
                        <div *ngIf="email.errors?.required">Email is required</div>
                      </div>
                    <div class="col-md-1">
                        <span class="text-error">*</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <input type="password" id="password" formControlName="npassword" class="form-control" placeholder="New password">
                    </div>
                    <div *ngIf="npassword.touched && npassword.invalid">
                        <div *ngIf="npassword.errors?.required">Required</div>
                      </div>
                    
                    <div class="col-md-1">
                        <span class="text-error">*</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <input type="password"  id="confirm_password" formControlName="cpassword" class="form-control" placeholder="Confirm password">
                    </div>
                    <div *ngIf="cpassword.touched && cpassword.invalid">
                        <div *ngIf="cpassword.errors?.required">Required</div>
                      </div>
                    <div class="col-md-1">
                        <span class="text-error">*</span>
                    </div>
                    <div class="col-md-5">
                        <span id="message" class="text-error"></span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <hr>

                      <input type="button" id="JQVbtn" value="Reset password" [disabled]="form.invalid" (click)="changePassword()" class="btn-default-1">
                       
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </article>

        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>



