<footer id="footer-block">
  <div class="footer-copy color-scheme-1">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                    <a style="cursor:pointer" [routerLink]="['']" class="header-logo"> <img src="../../assets/img/logo-copy-shop.png" alt=""></a>
              </div>
              <div class="col-md-4">
                  <p class="text-center">
                        <a href="">Copyright В© 2018</a> Hochshule Fulda,lepziger strasse | All rights reserved.<br>Designed by <a href="" target="_blank">FD#3 Team GDSD Group</a>
                  </p>
              </div>
              <div class="col-md-4">
                  <ul class="footer-payments pull-right">
                      <li><img src="../../assets/img/payment-maestro.jpg" alt="payment" /></li>
                      <li><img src="../../assets/img/payment-discover.jpg" alt="payment" /></li>
                      <li><img src="../../assets/img/payment-visa.jpg" alt="payment" /></li>
                      <li><img src="../../assets/img/payment-american-express.jpg" alt="payment" /></li>
                      <li><img src="../../assets/img/payment-paypal.jpg" alt="payment" /></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>