
        <footer id="footer-block">


          
          

            <div class="footer-copy color-scheme-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                         </div>
                        <div class="col-md-4">
                            <p class="text-center">
                                <a href="">Copyright В© 2018</a> Hochshule Fulda,lepziger strasse | All rights reserved.<br>Designed by <a href="" target="_blank">FD#3 Team GDSD Group</a>
                            </p>
                        </div>
                   
                    </div>
                </div>
            </div>
        </footer>
       
     