<meta charset="utf-8" />
<link rel="icon" type="image/png" href="../../assets/img/favicon.ico">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width" />

<!-- <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" /> -->
<link href="../../assets/css/animate.min.css" rel="stylesheet" />
<link href="../../assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />
<link href="../../assets/css/demo.css" rel="stylesheet" />
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
<link href="../../assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

<div class="wrapper">
  <div class="sidebar" data-color="purple" data-image="../../assets/img/sidebar-3.jpg">
  <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="active" style="cursor: pointer">
          <a (click)="activeLayer = users; isUserActive = true">
            <i class="pe-7s-note2"></i>
            <p>Users </p>
          </a>
        </li>
        <li class="active" style="cursor: pointer">
          <a (click)="activeLayer = products; isUserActive = false">
            <i class="pe-7s-note2"></i>
            <p>Products </p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><h1>ADMIN PANEL</h1></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a [routerLink]="['/']">
                Close
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="content">
      <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <h3 *ngIf="message"> {{ message }} </h3>
            </div>
          </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="header">
                <h4 class="title">{{ isUserActive ? 'Users' : 'Products' }} List</h4>
              </div>
              <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                  <thead>
                    <th>ID</th>
                    <th *ngIf="!isUserActive">Name</th>
                    <th>{{ isUserActive ? 'Role' : 'Category' }}</th>
                    <th>{{ isUserActive ? 'Email' : 'Condition' }}</th>
                    <th>{{ isUserActive ? 'Username' : 'Price' }}</th>
                    <th *ngIf="!isUserActive">{{ isUserActive ? 'Password' : 'Status' }}</th>
                    <th>Action</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let record of activeLayer; let x = index">
                      <td>{{x + 1}}</td>
                      <td *ngIf="!isUserActive">{{ record.name }}</td>
                      <td>{{ isUserActive ? record.role : record.category_id}}</td>
                      <td>{{ isUserActive ? record.email : record.condition}}</td>
                      <td>{{ isUserActive ? record.username : record.price}}</td>
                      <td *ngIf="!isUserActive">{{ record.approved ? 'Approved' : 'Unapproved' }}</td>
                      <td>
                        <a *ngIf="!isUserActive" style="cursor: pointer" (click)="action(record)">{{ record && record?.approved ? 'Unapprove' : 'Approved' }}</a>
                        &nbsp;&nbsp;
                        <a style="cursor: pointer" (click)="delete(record._id)">Delete</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container-fluid">

        <p class="copyright pull-right">
          <a href="">Copyright В© 2018</a> Hochshule Fulda,lepziger strasse | All rights reserved.<br>Designed by <a
            href="" target="_blank">FD#3 Team GDSD Group</a>
        </p>
      </div>
    </footer>
  </div>
</div>